# Entorno virtual
.venv/
venv/

# Archivos temporales y de sistema
*.log
*.tmp
*.swp
*.bak
*.DS_Store
Thumbs.db

# Archivos de configuración de Jupyter
.ipynb_checkpoints/
__pycache__/
*.pyc
*.pyo
*.pyd

# Archivos del entorno de Jupyter
.env
.env.*

# VSCode y otros IDEs
.vscode/ss
.idea/

# Archivos de datasets y modelos pesados
*.h5
*.pt
*.joblib
*.xlsx

# Archivos de Docker
docker-compose.override.yml

# Archivos de control de DVC
!.dvc/
.dvc/
.cache/

# Otros archivos grandes
*.zip
*.tar.gz

# DeepSource
.deepsource.toml


/model.pkl


.dvc/config
